/* ===================================
    About
====================================== */

/* ===================================
    Table of Content
/* 


File:           CSS Base
Version:        1.1
Last change:     
Author:        HTMLmate

*/

/*-------- css code for responsive layout  --------*/
/*  To make Responsive
---------------------------------------------------------------------- /
*   1 - media screen and (max-width: 1400px)
*   1 - media screen and (max-width: 1199px)
*   2 - media screen and (max-width: 991px)
*   3 - media screen and (max-width: 767px)
*   4 - media screen and (max-width: 680px)
*   5 - media screen and (max-width: 480px)
*
---------------------------------------------------------------------- /


/*  1 - media screen and (max-width: 1400px)
------------------------------------------------------------------------------------------ */
@media screen and (max-width: 1400px){
  .submit-icon{bottom: 28px;}
}
@media screen and (max-width: 767px){
  .main-menu{background-color: #Fff;margin-left: -15px;margin-right: -15px;box-shadow: 1px 1px 15px rgba(0,0,0,0.3);}
  .slider-content{padding: 1rem;}
  .slider-section .text-logo{font-size: 40px;line-height: 40px;}
  .slider-section .text-logo > img{height: 25px;}
  .slider-section .contain-slider{font-size: 14px;}
  .main-slider-img{height: 75vh;min-height: inherit;}
  .site-header .navbar-toggler{background-color: #1b75bc;color: #Fff;cursor: pointer;}
  .main-menu .navbar-nav li > a{color: #222;margin-bottom: 1rem;}
  .main-menu ul.navbar-nav{margin-top:1rem; }
  .bg-gray{background-size: cover;}
  .section-spacing{padding-top: 40px; padding-bottom: 40px;
  }
  .laptop-bg{background-image: none !important;}
}
@media screen and (max-width: 997px){
  .main-menu{background-color: #Fff;margin-left: -15px;margin-right: -15px;box-shadow: 1px 1px 15px rgba(0,0,0,0.3);}
  .site-header .navbar-toggler{background-color: #1b75bc;color: #Fff;cursor: pointer;}
  .main-menu .navbar-nav li > a{color: #222;margin-bottom: 1rem;}
  .main-menu ul.navbar-nav{margin-top:1rem; }
   .site-default-content .site-main-title{font-size: 1.2rem; margin-bottom: 25px;}
  .blog-item img {width: 100%;margin-bottom: 15px;}
  .bg-gray.more-blogs {
    background-size: cover;
    padding-top: 14rem;
    margin-top: -8rem;
    margin-bottom: 0;
}
  .section-spacing{padding-top: 40px; padding-bottom: 40px;}

}
@media screen and (max-width: 414px){
  .footer-logo{
    margin-bottom: 25px;
  }
  .pl-50{
    padding-left: 15px !important;
  }
  .site-default-content .site-main-title{
    font-size: 18px;
    margin-bottom: 20px !important;
  }
  .site-watermark-title{font-size: 1.8rem;line-height: 3;}
  .bg-gray.more-blogs {padding-top: 8rem;margin-top: -3rem;}
  .laptop-bg{background-image: none !important;}
}
@media screen and (max-width: 320px){
  footer .social-link li{
    height: 30px;
    width: 30px;
    line-height: 30px;
  }
  footer .social-link li a{
    font-size: 14px;
    line-height: 30px;
  }
  .services .section-spacing {
    padding-top: 8rem;
}

}