/* ===================================
    About
====================================== */

/* ===================================
    Table of Content
/* 


File:           CSS Base
Version:        1.1
Last change:     
Author:        HTMLmate

*/

/*-------- css code for responsive layout  --------*/
/*  To make Responsive
---------------------------------------------------------------------- /
*   1 - media screen and (max-width: 1400px)
*   1 - media screen and (max-width: 1199px)
*   2 - media screen and (max-width: 991px)
*   3 - media screen and (max-width: 767px)
*   4 - media screen and (max-width: 680px)
*   5 - media screen and (max-width: 480px)
*
---------------------------------------------------------------------- /


/*  1 - media screen and (max-width: 1400px)
------------------------------------------------------------------------------------------ */